@use "./base.scss";

// put your custom CSS here!

.tags li {
  background-color: #f0fdf4; /* Very light green background */
// border: 1px solid #166534; /* Dark green border */
// border-radius: 9999px;     /* Makes them pills */
//  padding: 0.1rem 0.5rem;
  color: #166534 !important;
  font-weight: 600;
} 

// added Feb 18th (Claude suggestion. Quartz was no showing "---" nor <hr>)
hr {
  border: none;
  border-top: 1px solid var(--gray);
  margin: 1.5em 0;
}

code {
  background-color: #e5e5e5;
  color: #18181b;
  padding: 0.1em 0.3em;
  border-radius: 3px;
  font-size: 0.9em;
}